<div class="container myapp">
  <h1>My Search App</h1>

  <div class="row">
    <div class="col-md-2">
      <label for="user-name" class="left">User:</label>
    </div>
  </div>

  <div class="row user-row">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li *ngFor="let customer of customers; let idx = index"><a href="#" (click)="setName(idx)">{{customer.Customer_Name}}</a></li>
          </ul>
        </div>
        <input type="text" [(ngModel)]="username" class="form-control" id="user-name" readonly="readonly">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="clearUser()">X</button>
        </span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <label for="search-text">Search</label>
      <div class="dropdown" [class.open]="showProducts()">
        <input type="text" [(ngModel)]="searchText" (keyup)="doSearch()" id="search-text" aria-haspopup="true" (blur)="onBlur()" (focus)="onFocus()">
        <ul class="dropdown-menu" aria-labelledby="search-text">
          <li *ngFor="let product of products"><a>{{product.Product_Name}} {{product.Product_Category}} {{product.Unit_Price}}</a></li>
        </ul>
      </div>
    </div>
  </div>


</div>
